.navbar {
  background-color: #ffffff;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  padding-left: 10px;
  height: 27px;
  width: auto;
}